# Import Tweets

In [88]:
# Import all libraries 
import pandas as pd
import numpy as np 
import datetime

In [89]:
trump_tweets = pd.read_csv("trumptweets_duplicates_removed.csv")
trump_tweets['date'] = pd.to_datetime(trump_tweets['date'])
trump_tweets.rename(columns={"date": "tweet_datetime"}, inplace=True)

In [90]:
trump_tweets

,text,favorites,retweets,tweet_datetime,date_1,time,hour,month
0,HAPPY NEW YEAR! https://t.co/bHoPDPQ7G6,144692,31142,2018-12-31 23:53:00,31/12/2018,23:53,23,12
1,It’s incredible how Democrats can all use thei...,125636,26560,2018-12-31 15:39:00,31/12/2018,15:39,15,12
2,"I’m in the Oval Office. Democrats, come back f...",126997,27021,2018-12-31 15:37:00,31/12/2018,15:37,15,12
3,I am the only person in America who could say ...,109000,22362,2018-12-31 14:38:00,31/12/2018,14:38,14,12
4,"I campaigned on Border Security, which you can...",87693,19126,2018-12-31 13:29:00,31/12/2018,13:29,13,12
...,...,...,...,...,...,...,...,...
5253,I want to help our miners while the Democrats ...,50496,10881,2017-04-27 14:37:00,27/4/2017,14:37,14,4
5254,RT @foxandfriends: Chicago approves new plan t...,0,5746,2017-04-22 15:18:00,22/4/2017,15:18,15,4
5255,The meeting next week with China will be a ver...,48486,9688,2017-03-30 22:16:00,30/3/2017,22:16,22,3
5256,The forgotten men and women of our country wil...,150159,30455,2017-01-20 17:54:00,20/1/2017,17:54,17,1
5257,Today we are not merely transferring power fro...,94860,16452,2017-01-20 17:51:00,20/1/2017,17:51,17,1

# Import Stock Prices

In [133]:
stock_price = pd.read_csv("stock_price.csv", parse_dates=[['DATE', 'TIME_M']])

# Get Stock Price Difference X mins after

In [134]:
# Change this variable for different X min differences
x_mins = 5

In [135]:
stock_price.rename(columns={"DATE_TIME_M": "datetime", "PRICE": "price"}, inplace=True)
stock_price[f"datetime_{x_mins}mins_before"] = stock_price["datetime"] - pd.Timedelta(f"{x_mins} min")

In [136]:
stock_price_merged = stock_price.merge(stock_price, how='inner', left_on=[f"datetime_{x_mins}mins_before"], right_on=["datetime"])
stock_price_merged.drop(columns=["datetime_y", f"datetime_{x_mins}mins_before_y"], inplace=True)
stock_price_merged.rename(columns={"datetime_x": f"datetime_{x_mins}mins_after", "price_x": f"price_{x_mins}mins_after", f"datetime_{x_mins}mins_before_x": "datetime_now", "price_y": "price_now"}, inplace=True)

In [137]:
stock_price

                  datetime   price datetime_5mins_before
0      2017-01-20 04:00:00  226.50   2017-01-20 03:55:00
1      2017-01-20 04:04:00  226.49   2017-01-20 03:59:00
2      2017-01-20 04:05:00  226.52   2017-01-20 04:00:00
3      2017-01-20 04:08:00  226.54   2017-01-20 04:03:00
4      2017-01-20 04:10:00  226.52   2017-01-20 04:05:00
...                    ...     ...                   ...
381308 2018-12-31 19:56:00  250.06   2018-12-31 19:51:00
381309 2018-12-31 19:57:00  250.07   2018-12-31 19:52:00
381310 2018-12-31 19:58:00  250.10   2018-12-31 19:53:00
381311 2018-12-31 19:59:00  250.07   2018-12-31 19:54:00
381312 2018-12-31 20:00:00  249.92   2018-12-31 19:55:00

[381313 rows x 3 columns]

In [142]:
stock_price_merged['price_diff'] = stock_price_merged['price_5mins_after'] - stock_price_merged['price_now']

In [143]:
stock_price_merged

,datetime_5mins_after,price_5mins_after,datetime_now,price_now,price_diff
0,2017-01-20 04:05:00,226.52,2017-01-20 04:00:00,226.50,0.02
1,2017-01-20 04:10:00,226.52,2017-01-20 04:05:00,226.52,0.00
2,2017-01-20 04:13:00,226.56,2017-01-20 04:08:00,226.54,0.02
3,2017-01-20 04:17:00,226.55,2017-01-20 04:12:00,226.54,0.01
4,2017-01-20 04:18:00,226.51,2017-01-20 04:13:00,226.56,-0.05
...,...,...,...,...,...
340259,2018-12-31 19:52:00,250.09,2018-12-31 19:47:00,250.07,0.02
340260,2018-12-31 19:53:00,250.10,2018-12-31 19:48:00,250.03,0.07
340261,2018-12-31 19:56:00,250.06,2018-12-31 19:51:00,250.06,0.00
340262,2018-12-31 19:57:00,250.07,2018-12-31 19:52:00,250.09,-0.02
340263,2018-12-31 19:58:00,250.10,2018-12-31 19:53:00,250.10,0.00

# Merge Tweets and Stock Prices

In [144]:
merged = trump_tweets.merge(stock_price_merged, how='inner', left_on=['tweet_datetime'], right_on=["datetime_now"])
merged.drop(columns=["datetime_now", "price_now"], inplace=True)

In [145]:
merged

,text,favorites,retweets,tweet_datetime,date_1,time,hour,month,datetime_5mins_after,price_5mins_after,price_diff
0,It’s incredible how Democrats can all use thei...,125636,26560,2018-12-31 15:39:00,31/12/2018,15:39,15,12,2018-12-31 15:44:00,249.4650,0.365
1,"I’m in the Oval Office. Democrats, come back f...",126997,27021,2018-12-31 15:37:00,31/12/2018,15:37,15,12,2018-12-31 15:42:00,249.4400,0.180
2,I am the only person in America who could say ...,109000,22362,2018-12-31 14:38:00,31/12/2018,14:38,14,12,2018-12-31 14:43:00,248.3800,0.390
3,"I campaigned on Border Security, which you can...",87693,19126,2018-12-31 13:29:00,31/12/2018,13:29,13,12,2018-12-31 13:34:00,249.9400,-0.120
4,.....Except the results are FAR BETTER than I ...,68840,12913,2018-12-31 13:19:00,31/12/2018,13:19,13,12,2018-12-31 13:24:00,249.8400,0.070
...,...,...,...,...,...,...,...,...,...,...,...
2175,Karen Handle's opponent in #GA06 can't even vo...,4996,1458,2017-06-19 08:29:00,19/6/2017,8:29,8,6,2017-06-19 08:34:00,243.4000,0.000
2176,RT @Jim_Jordan: President Trump did the right ...,0,7491,2017-02-06 10:32:00,2/6/2017,10:32,10,6,2017-02-06 10:37:00,229.0690,-0.026
2177,Democrats used to support border security — no...,49846,11869,2017-04-27 14:39:00,27/4/2017,14:39,14,4,2017-04-27 14:44:00,238.7900,0.025
2178,I want to help our miners while the Democrats ...,50496,10881,2017-04-27 14:37:00,27/4/2017,14:37,14,4,2017-04-27 14:42:00,238.7178,-0.040
2179,Today we are not merely transferring power fro...,94860,16452,2017-01-20 17:51:00,20/1/2017,17:51,17,1,2017-01-20 17:56:00,226.8800,0.140