# Import Tweets

In [91]:
# Import all libraries 
import pandas as pd
import numpy as np 
import datetime

In [92]:
trump_tweets = pd.read_csv("trump_tweets_cleaned.csv")
trump_tweets['date'] = pd.to_datetime(trump_tweets['date'])
trump_tweets.rename(columns={"date": "tweet_datetime"}, inplace=True)

In [93]:
trump_tweets

,id,cleaned_text,favorites,retweets,tweet_datetime,date_new,date_part,time_part,hour,year,month
0,9.384230e+17,MAKE AMERICA GREAT AGAIN!,157963,37189,2017-06-12 15:00:00,2017-06-12 23:00:00,2017-06-12,23:00:00,23,2017,6
1,9.391890e+17,MAKE AMERICA GREAT AGAIN!,56596,11433,2017-08-12 17:46:00,2017-08-13 01:46:00,2017-08-13,01:46:00,1,2017,8
2,9.353400e+17,Thank you Rand!,42793,9125,2017-11-28 02:50:00,2017-11-28 10:50:00,2017-11-28,10:50:00,10,2017,11
3,9.253890e+17,Thank you @LuisRiveraMarin!,23521,4574,2017-10-31 15:48:00,2017-10-31 23:48:00,2017-10-31,23:48:00,23,2017,10
4,8.997980e+17,"Join me live from Fort Myer in Arlington, Virg...",36009,4891,2017-08-22 01:00:00,2017-08-22 09:00:00,2017-08-22,09:00:00,9,2017,8
...,...,...,...,...,...,...,...,...,...,...,...
5083,9.862190e+17,"Employment is up, Taxes are DOWN. Enjoy! I am ...",106514,19661,2018-04-17 12:24:00,2018-04-17 20:24:00,2018-04-17,20:24:00,20,2018,4
5084,9.791090e+17,I am pleased to announce that I intend to nomi...,66173,13399,2018-03-28 21:31:00,2018-03-29 05:31:00,2018-03-29,05:31:00,5,2018,3
5085,9.597990e+17,Rasmussen just announced that my approval rati...,132165,30235,2018-03-02 14:40:00,2018-03-02 22:40:00,2018-03-02,22:40:00,22,2018,3
5086,9.576040e+17,Somebody please inform Jay-Z that because of m...,202727,49876,2018-01-28 13:18:00,2018-01-28 21:18:00,2018-01-28,21:18:00,21,2018,1
5087,9.521670e+17,The Democrats are all talk and no action. They...,127182,28594,2018-01-13 13:14:00,2018-01-13 21:14:00,2018-01-13,21:14:00,21,2018,1

# Import Stock Prices

In [100]:
stock_price = pd.read_csv("stock_price_cleaned.csv")

In [101]:
stock_price.rename(columns={"DATE_TIME_M": "datetime", "PRICE": "price"}, inplace=True)

In [102]:
stock_price

            DATE    TIME_M   price
0       20170120  04:00:00  226.50
1       20170120  04:04:00  226.49
2       20170120  04:05:00  226.52
3       20170120  04:08:00  226.54
4       20170120  04:10:00  226.52
...          ...       ...     ...
381308  20181231  19:56:00  250.06
381309  20181231  19:57:00  250.07
381310  20181231  19:58:00  250.10
381311  20181231  19:59:00  250.07
381312  20181231  20:00:00  249.92

[381313 rows x 3 columns]

# Get End of Day (8pm) Stock Prices

In [98]:
end_of_day_prices = stock_price[stock_price['datetime']]

KeyError: 'datetime'

# Get Stock Price Difference X mins after

In [71]:
# Change this variable for different X min differences
x_mins = 60

In [72]:
stock_price['datetime']= pd.to_datetime(stock_price['datetime'])
stock_price[f"datetime_{x_mins}mins_before"] = stock_price["datetime"] - pd.Timedelta(f"{x_mins} min")

In [73]:
stock_price_merged = stock_price.merge(stock_price, how='inner', left_on=[f"datetime_{x_mins}mins_before"], right_on=["datetime"])
stock_price_merged.drop(columns=["datetime_y", f"datetime_{x_mins}mins_before_y"], inplace=True)
stock_price_merged.rename(columns={"datetime_x": f"datetime_{x_mins}mins_after", "price_x": f"price_{x_mins}mins_after", f"datetime_{x_mins}mins_before_x": "datetime_now", "price_y": "price_now"}, inplace=True)

In [74]:
stock_price

                   datetime     price datetime_60mins_before
0       2017-01-20 04:00:00  226.5000    2017-01-20 03:00:00
1       2017-01-20 04:01:00  226.4975    2017-01-20 03:01:00
2       2017-01-20 04:02:00  226.4950    2017-01-20 03:02:00
3       2017-01-20 04:03:00  226.4925    2017-01-20 03:03:00
4       2017-01-20 04:04:00  226.4900    2017-01-20 03:04:00
...                     ...       ...                    ...
1023356 2018-12-31 19:56:00  250.0600    2018-12-31 18:56:00
1023357 2018-12-31 19:57:00  250.0700    2018-12-31 18:57:00
1023358 2018-12-31 19:58:00  250.1000    2018-12-31 18:58:00
1023359 2018-12-31 19:59:00  250.0700    2018-12-31 18:59:00
1023360 2018-12-31 20:00:00  249.9200    2018-12-31 19:00:00

[1023361 rows x 3 columns]

In [75]:
stock_price_merged['price_diff_abs'] = stock_price_merged[f'price_{x_mins}mins_after'] - stock_price_merged['price_now']

stock_price_merged['price_diff_perc'] = (stock_price_merged[f'price_{x_mins}mins_after'] - stock_price_merged['price_now']) / stock_price_merged['price_now']

In [76]:
stock_price_merged

,datetime_60mins_after,price_60mins_after,datetime_now,price_now,price_diff_abs,price_diff_perc
0,2017-01-20 05:00:00,226.563333,2017-01-20 04:00:00,226.5000,0.063333,0.000280
1,2017-01-20 05:01:00,226.556667,2017-01-20 04:01:00,226.4975,0.059167,0.000261
2,2017-01-20 05:02:00,226.550000,2017-01-20 04:02:00,226.4950,0.055000,0.000243
3,2017-01-20 05:03:00,226.560000,2017-01-20 04:03:00,226.4925,0.067500,0.000298
4,2017-01-20 05:04:00,226.561667,2017-01-20 04:04:00,226.4900,0.071667,0.000316
...,...,...,...,...,...,...
1023296,2018-12-31 19:56:00,250.060000,2018-12-31 18:56:00,249.9900,0.070000,0.000280
1023297,2018-12-31 19:57:00,250.070000,2018-12-31 18:57:00,249.9800,0.090000,0.000360
1023298,2018-12-31 19:58:00,250.100000,2018-12-31 18:58:00,250.0000,0.100000,0.000400
1023299,2018-12-31 19:59:00,250.070000,2018-12-31 18:59:00,250.0000,0.070000,0.000280
1023300,2018-12-31 20:00:00,249.920000,2018-12-31 19:00:00,250.0000,-0.080000,-0.000320

# Ge

# Merge Tweets and Stock Prices

In [77]:
merged = trump_tweets.merge(stock_price_merged, how='inner', left_on=['tweet_datetime'], right_on=["datetime_now"])
merged.drop(columns=["datetime_now", "price_now"], inplace=True)

In [78]:
merged.shape

(5087, 15)

In [79]:
merged

,id,cleaned_text,favorites,retweets,tweet_datetime,date_new,date_part,time_part,hour,year,month,datetime_60mins_after,price_60mins_after,price_diff_abs,price_diff_perc
0,9.384230e+17,MAKE AMERICA GREAT AGAIN!,157963,37189,2017-06-12 15:00:00,2017-06-12 23:00:00,2017-06-12,23:00:00,23,2017,6,2017-06-12 16:00:00,243.330000,0.365000,0.001502
1,9.391890e+17,MAKE AMERICA GREAT AGAIN!,56596,11433,2017-08-12 17:46:00,2017-08-13 01:46:00,2017-08-13,01:46:00,1,2017,8,2017-08-12 18:46:00,244.803000,0.030000,0.000123
2,9.353400e+17,Thank you Rand!,42793,9125,2017-11-28 02:50:00,2017-11-28 10:50:00,2017-11-28,10:50:00,10,2017,11,2017-11-28 03:50:00,260.347500,0.015000,0.000058
3,9.253890e+17,Thank you @LuisRiveraMarin!,23521,4574,2017-10-31 15:48:00,2017-10-31 23:48:00,2017-10-31,23:48:00,23,2017,10,2017-10-31 16:48:00,257.163333,-0.001667,-0.000006
4,8.997980e+17,"Join me live from Fort Myer in Arlington, Virg...",36009,4891,2017-08-22 01:00:00,2017-08-22 09:00:00,2017-08-22,09:00:00,9,2017,8,2017-08-22 02:00:00,243.357500,0.076250,0.000313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5082,9.862190e+17,"Employment is up, Taxes are DOWN. Enjoy! I am ...",106514,19661,2018-04-17 12:24:00,2018-04-17 20:24:00,2018-04-17,20:24:00,20,2018,4,2018-04-17 13:24:00,269.910000,-0.340000,-0.001258
5083,9.791090e+17,I am pleased to announce that I intend to nomi...,66173,13399,2018-03-28 21:31:00,2018-03-29 05:31:00,2018-03-29,05:31:00,5,2018,3,2018-03-28 22:31:00,260.081667,0.100000,0.000385
5084,9.597990e+17,Rasmussen just announced that my approval rati...,132165,30235,2018-03-02 14:40:00,2018-03-02 22:40:00,2018-03-02,22:40:00,22,2018,3,2018-03-02 15:40:00,268.930000,0.890000,0.003320
5085,9.576040e+17,Somebody please inform Jay-Z that because of m...,202727,49876,2018-01-28 13:18:00,2018-01-28 21:18:00,2018-01-28,21:18:00,21,2018,1,2018-01-28 14:18:00,286.421375,-0.003750,-0.000013
5086,9.521670e+17,The Democrats are all talk and no action. They...,127182,28594,2018-01-13 13:14:00,2018-01-13 21:14:00,2018-01-13,21:14:00,21,2018,1,2018-01-13 14:14:00,278.166150,0.013500,0.000049

In [80]:
merged['price_diff_perc_magnitude'] = merged['price_diff_perc'].abs()

In [81]:
merged.head()

,id,cleaned_text,favorites,retweets,tweet_datetime,date_new,date_part,time_part,hour,year,month,datetime_60mins_after,price_60mins_after,price_diff_abs,price_diff_perc,price_diff_perc_magnitude
0,9.384230e+17,MAKE AMERICA GREAT AGAIN!,157963,37189,2017-06-12 15:00:00,2017-06-12 23:00:00,2017-06-12,23:00:00,23,2017,6,2017-06-12 16:00:00,243.330000,0.365000,0.001502,0.001502
1,9.391890e+17,MAKE AMERICA GREAT AGAIN!,56596,11433,2017-08-12 17:46:00,2017-08-13 01:46:00,2017-08-13,01:46:00,1,2017,8,2017-08-12 18:46:00,244.803000,0.030000,0.000123,0.000123
2,9.353400e+17,Thank you Rand!,42793,9125,2017-11-28 02:50:00,2017-11-28 10:50:00,2017-11-28,10:50:00,10,2017,11,2017-11-28 03:50:00,260.347500,0.015000,0.000058,0.000058
3,9.253890e+17,Thank you @LuisRiveraMarin!,23521,4574,2017-10-31 15:48:00,2017-10-31 23:48:00,2017-10-31,23:48:00,23,2017,10,2017-10-31 16:48:00,257.163333,-0.001667,-0.000006,0.000006
4,8.997980e+17,"Join me live from Fort Myer in Arlington, Virg...",36009,4891,2017-08-22 01:00:00,2017-08-22 09:00:00,2017-08-22,09:00:00,9,2017,8,2017-08-22 02:00:00,243.357500,0.076250,0.000313,0.000313

In [82]:
merged_sorted = merged.sort_values(by=['price_diff_perc_magnitude'], ascending=False)

In [87]:
merged_sorted.head(50)

,id,cleaned_text,favorites,retweets,tweet_datetime,date_new,date_part,time_part,hour,year,month,datetime_60mins_after,price_60mins_after,price_diff_abs,price_diff_perc,price_diff_perc_magnitude
3234,1.036240e+18,Tiger Woods showed great class in the way he a...,107438,21105,2018-02-09 13:28:00,2018-02-09 21:28:00,2018-02-09,21:28:00,21,2018,2,2018-02-09 14:28:00,259.600000,5.930000,0.023377,0.023377
2316,1.075400e+18,"We have defeated ISIS in Syria, my only reason...",100443,20265,2018-12-19 14:29:00,2018-12-19 22:29:00,2018-12-19,22:29:00,22,2018,12,2018-12-19 15:29:00,251.110000,-5.270000,-0.020555,0.020555
3233,1.036250e+18,....The fact is that African/American unemploy...,117688,26036,2018-02-09 13:37:00,2018-02-09 21:37:00,2018-02-09,21:37:00,21,2018,2,2018-02-09 14:37:00,258.310000,4.799000,0.018930,0.018930
4116,1.002880e+18,“We ran out of words to describe how good the ...,63206,12913,2018-02-06 11:40:00,2018-02-06 19:40:00,2018-02-06,19:40:00,19,2018,2,2018-02-06 12:40:00,266.390000,4.030000,0.015361,0.015361
2735,1.056920e+18,Many Gang Members and some very bad people are...,122928,32961,2018-10-29 14:41:00,2018-10-29 22:41:00,2018-10-29,22:41:00,22,2018,10,2018-10-29 15:41:00,261.230000,-3.930000,-0.014821,0.014821
2315,1.075400e+18,The Trump Foundation has done great work and g...,56837,13069,2018-12-19 14:44:00,2018-12-19 22:44:00,2018-12-19,22:44:00,22,2018,12,2018-12-19 15:44:00,250.726800,-3.763200,-0.014787,0.014787
2223,1.078660e+18,Thank you to Sean Parnell for the nice comment...,100626,17587,2018-12-28 14:51:00,2018-12-28 22:51:00,2018-12-28,22:51:00,22,2018,12,2018-12-28 15:51:00,247.370000,-3.370000,-0.013440,0.013440
2286,1.076130e+18,There has never been a president who has been ...,67378,13875,2018-12-21 14:41:00,2018-12-21 22:41:00,2018-12-21,22:41:00,22,2018,12,2018-12-21 15:41:00,240.420000,-2.810000,-0.011553,0.011553
3223,1.036990e+18,"NBC FAKE NEWS, which is under intense scrutiny...",88482,20438,2018-04-09 14:58:00,2018-04-09 22:58:00,2018-04-09,22:58:00,22,2018,4,2018-04-09 15:58:00,260.775000,-3.025000,-0.011467,0.011467
2284,1.076130e+18,The Democrats now own the shutdown!,111704,23616,2018-12-21 15:07:00,2018-12-21 23:07:00,2018-12-21,23:07:00,23,2018,12,2018-12-21 16:07:00,240.210000,-2.760000,-0.011359,0.011359
2317,1.075390e+18,Mexico is paying (indirectly) for the Wall thr...,85908,19406,2018-12-19 13:43:00,2018-12-19 21:43:00,2018-12-19,21:43:00,21,2018,12,2018-12-19 14:43:00,254.670000,-2.883300,-0.011195,0.011195
2591,1.061340e+18,Trying to STEAL two big elections in Florida! ...,102761,24887,2018-10-11 19:09:00,2018-10-12 03:09:00,2018-10-12,03:09:00,3,2018,10,2018-10-11 20:09:00,272.255313,-2.944687,-0.010700,0.010700
4333,9.916900e+17,A Rigged System - They don’t want to turn over...,97753,25269,2018-02-05 14:45:00,2018-02-05 22:45:00,2018-02-05,22:45:00,22,2018,2,2018-02-05 15:45:00,267.380000,-2.880000,-0.010656,0.010656
2592,1.061330e+18,Had very productive meetings and calls for our...,76072,12936,2018-10-11 19:06:00,2018-10-12 03:06:00,2018-10-12,03:06:00,3,2018,10,2018-10-11 20:06:00,272.226875,-2.763125,-0.010048,0.010048
2593,1.061260e+18,Happy 243rd Birthday to our GREAT U.S. Marine ...,89418,19182,2018-10-11 14:09:00,2018-10-11 22:09:00,2018-10-11,22:09:00,22,2018,10,2018-10-11 15:09:00,272.710000,-2.750000,-0.009983,0.009983
2772,1.055550e+18,.@Troy_Balderson of Ohio is doing a great job ...,35552,8523,2018-10-25 19:56:00,2018-10-26 03:56:00,2018-10-26,03:56:00,3,2018,10,2018-10-25 20:56:00,269.662333,2.542333,0.009518,0.009518
3741,1.017360e+18,"#NATOSummit2018 Press Conference in Brussels, ...",36145,8229,2018-12-07 10:57:00,2018-12-07 18:57:00,2018-12-07,18:57:00,18,2018,12,2018-12-07 11:57:00,265.560000,-2.510000,-0.009363,0.009363
2773,1.055550e+18,.@JohnChrin of Pennsylvania is fantastic. He i...,32200,7817,2018-10-25 19:55:00,2018-10-26 03:55:00,2018-10-26,03:55:00,3,2018,10,2018-10-25 20:55:00,269.669792,2.489792,0.009319,0.009319
2795,1.054730e+18,"Jay Webber of New Jersey, running for Congress...",52000,12406,2018-10-23 13:53:00,2018-10-23 21:53:00,2018-10-23,21:53:00,21,2018,10,2018-10-23 14:53:00,274.370000,2.525000,0.009288,0.009288
4091,1.003630e+18,Farmers have not been doing well for 15 years....,69736,15694,2018-04-06 13:47:00,2018-04-06 21:47:00,2018-04-06,21:47:00,21,2018,4,2018-04-06 14:47:00,259.260000,-2.400000,-0.009172,0.009172
2296,1.076080e+18,The Democrats are trying to belittle the conce...,88137,17905,2018-12-21 11:58:00,2018-12-21 19:58:00,2018-12-21,19:58:00,19,2018,12,2018-12-21 12:58:00,243.270000,-2.190000,-0.008922,0.008922
4759,9.663170e+17,The GREAT Billy Graham is dead. There was nobo...,130083,24156,2018-02-21 14:22:00,2018-02-21 22:22:00,2018-02-21,22:22:00,22,2018,2,2018-02-21 15:22:00,271.750000,-2.440000,-0.008899,0.008899
4325,9.919940e+17,...very common among celebrities and people of...,64827,13138,2018-03-05 10:54:00,2018-03-05 18:54:00,2018-03-05,18:54:00,18,2018,3,2018-03-05 11:54:00,271.259900,2.380000,0.008852,0.008852
4326,9.919920e+17,"Mr. Cohen, an attorney, received a monthly ret...",63049,13154,2018-03-05 10:46:00,2018-03-05 18:46:00,2018-03-05,18:46:00,18,2018,3,2018-03-05 11:46:00,271.430000,2.320000,0.008621,0.008621
2706,1.057650e+18,"“Donald Trump has made good on his promises, a...",53454,11724,2018-10-31 15:25:00,2018-10-31 23:25:00,2018-10-31,23:25:00,23,2018,10,2018-10-31 16:25:00,270.180000,-2.319100,-0.008510,0.008510
4758,9.663220e+17,Question: If all of the Russian meddling took ...,98566,25833,2018-02-21 14:40:00,2018-02-21 22:40:00,2018-02-21,22:40:00,22,2018,2,2018-02-21 15:40:00,271.740000,-2.310000,-0.008429,0.008429
4113,1.002890e+18,"....“$17 million spent, it’s a scam Investigat...",63723,15589,2018-02-06 12:40:00,2018-02-06 20:40:00,2018-02-06,20:40:00,20,2018,2,2018-02-06 13:40:00,264.150000,-2.240000,-0.008409,0.008409
2763,1.055820e+18,Twitter has removed many people from my accoun...,121682,33913,2018-10-26 14:05:00,2018-10-26 22:05:00,2018-10-26,22:05:00,22,2018,10,2018-10-26 15:05:00,264.360000,-2.230000,-0.008365,0.008365
52,9.485490e+17,Such respect for the people of Iran as they tr...,126089,24423,2018-03-01 13:37:00,2018-03-01 21:37:00,2018-03-01,21:37:00,21,2018,3,2018-03-01 14:37:00,266.530000,-2.240000,-0.008334,0.008334
2764,1.055820e+18,The United States has been spending Billions o...,77975,20003,2018-10-26 13:55:00,2018-10-26 21:55:00,2018-10-26,21:55:00,21,2018,10,2018-10-26 14:55:00,265.110000,-2.160000,-0.008082,0.008082
4713,9.688570e+17,Why is A.G. Jeff Sessions asking the Inspector...,76301,20248,2018-02-28 14:34:00,2018-02-28 22:34:00,2018-02-28,22:34:00,22,2018,2,2018-02-28 15:34:00,272.970000,-2.169000,-0.007883,0.007883
4764,9.659720e+17,....cameras running. Another False Accusation....,66547,15370,2018-02-20 15:29:00,2018-02-20 23:29:00,2018-02-20,23:29:00,23,2018,2,2018-02-20 16:29:00,273.079000,2.114000,0.007802,0.007802
2705,1.057660e+18,Republicans will protect people with pre-exist...,67120,16111,2018-10-31 15:28:00,2018-10-31 23:28:00,2018-10-31,23:28:00,23,2018,10,2018-10-31 16:28:00,270.150000,-2.100000,-0.007713,0.007713
4586,9.767710e+17,"Remember when they were saying, during the cam...",79576,15715,2018-03-22 10:40:00,2018-03-22 18:40:00,2018-03-22,18:40:00,18,2018,3,2018-03-22 11:40:00,265.800000,-2.006200,-0.007491,0.007491
4714,9.688500e+17,45 year low on illegal border crossings this y...,97013,17499,2018-02-28 14:08:00,2018-02-28 22:08:00,2018-02-28,22:08:00,22,2018,2,2018-02-28 15:08:00,273.640000,-2.046900,-0.007425,0.007425
4851,9.605310e+17,"Representative Devin Nunes, a man of tremendou...",111859,28170,2018-05-02 15:08:00,2018-05-02 23:08:00,2018-05-02,23:08:00,23,2018,5,2018-05-02 16:08:00,262.730000,-1.950000,-0.007367,0.007367
4685,9.706270e+17,We have large trade deficits with Mexico and C...,69294,15050,2018-05-03 11:47:00,2018-05-03 19:47:00,2018-05-03,19:47:00,19,2018,5,2018-05-03 12:47:00,261.770000,1.911700,0.007357,0.007357
2285,1.076130e+18,"General Anthony Tata, author, “Dark Winter.” I...",69364,17605,2018-12-21 14:50:00,2018-12-21 22:50:00,2018-12-21,22:50:00,22,2018,12,2018-12-21 15:50:00,241.140000,-1.700000,-0.007000,0.007000
4684,9.706280e+17,...treat our farmers much better. Highly restr...,72697,14132,2018-05-03 11:53:00,2018-05-03 19:53:00,2018-05-03,19:53:00,19,2018,5,2018-05-03 12:53:00,262.180000,1.800000,0.006913,0.006913
2329,1.074990e+18,"Biggest outrage yet in the long, winding and h...",66301,16506,2018-12-18 11:28:00,2018-12-18 19:28:00,2018-12-18,19:28:00,19,2018,12,2018-12-18 12:28:00,257.465000,1.755000,0.006863,0.006863
4587,9.767650e+17,Crazy Joe Biden is trying to act like a tough ...,219236,59405,2018-03-22 10:19:00,2018-03-22 18:19:00,2018-03-22,18:19:00,18,2018,3,2018-03-22 11:19:00,266.800000,-1.840000,-0.006849,0.006849
4580,9.771670e+17,I am considering a VETO of the Omnibus Spendin...,131419,29523,2018-03-23 12:55:00,2018-03-23 20:55:00,2018-03-23,20:55:00,20,2018,3,2018-03-23 13:55:00,264.045000,1.785000,0.006806,0.006806
2718,1.057250e+18,The Stock Market is up massively since the Ele...,97442,24599,2018-10-30 12:33:00,2018-10-30 20:33:00,2018-10-30,20:33:00,20,2018,10,2018-10-30 13:33:00,263.620000,-1.790000,-0.006744,0.006744
2579,1.062010e+18,The prospect of Presidential Harassment by the...,71309,16365,2018-12-11 15:34:00,2018-12-11 23:34:00,2018-12-11,23:34:00,23,2018,12,2018-12-11 16:34:00,264.170000,-1.790000,-0.006730,0.006730
2384,1.072100e+18,“Democrats can’t find a Smocking Gun tying the...,91036,20515,2018-10-12 11:46:00,2018-10-12 19:46:00,2018-10-12,19:46:00,19,2018,10,2018-10-12 12:46:00,272.670000,-1.810000,-0.006594,0.006594
4209,9.815220e+17,"When you’re already $500 Billion DOWN, you can...",73960,14274,2018-04-04 13:20:00,2018-04-04 21:20:00,2018-04-04,21:20:00,21,2018,4,2018-04-04 14:20:00,261.770000,1.690000,0.006498,0.006498
4561,9.789360e+17,"For years and through many administrations, ev...",96600,21006,2018-03-28 10:05:00,2018-03-28 18:05:00,2018-03-28,18:05:00,18,2018,3,2018-03-28 11:05:00,259.930000,-1.700000,-0.006498,0.006498
2554,1.063050e+18,....care how many lives the ruin. These are An...,99068,23466,2018-11-15 12:32:00,2018-11-15 20:32:00,2018-11-15,20:32:00,20,2018,11,2018-11-15 13:32:00,272.080000,1.731000,0.006403,0.006403
2777,1.055460e+18,The New York Times has a new Fake Story that n...,87386,23401,2018-10-25 13:57:00,2018-10-25 21:57:00,2018-10-25,21:57:00,21,2018,10,2018-10-25 14:57:00,271.520000,1.700000,0.006300,0.006300
2595,1.061170e+18,"There is no reason for these massive, deadly a...",109479,23493,2018-10-11 08:08:00,2018-10-11 16:08:00,2018-10-11,16:08:00,16,2018,10,2018-10-11 09:08:00,277.520000,1.730000,0.006273,0.006273