In [3]:
# Import all libraries 

import pandas as pd
import numpy as np

In [5]:
# Preprocessing of Stock price data 

stock_price = pd.read_csv('yr2017.csv')
# stock_price.head()

       DATE             TIME_M SYM_ROOT  SYM_SUFFIX   PRICE
0  20170120  4:00:00.040686000      SPY         NaN  226.50
1  20170120  4:00:00.040735000      SPY         NaN  226.50
2  20170120  4:00:00.133644000      SPY         NaN  226.44
3  20170120  4:00:00.215677000      SPY         NaN  226.55
4  20170120  4:04:07.135661000      SPY         NaN  226.49

In [7]:
# Drop unwanted columns 
stock_price.drop(columns=['SYM_ROOT', 'SYM_SUFFIX'], inplace=True)
stock_price.head()

       DATE             TIME_M   PRICE
0  20170120  4:00:00.040686000  226.50
1  20170120  4:00:00.040735000  226.50
2  20170120  4:00:00.133644000  226.44
3  20170120  4:00:00.215677000  226.55
4  20170120  4:04:07.135661000  226.49

In [20]:
# stock_price['DATE'] = pd.to_datetime(stock_price['DATE'], format='%Y%m%d').date

AttributeError: 'Series' object has no attribute 'date'

In [19]:
print(stock_price.iloc[0,1])

4:00:00.040686000

In [22]:
from datetime import datetime
stock_price['TIME_M'] = pd.to_datetime(stock_price['TIME_M'], format='%H:%M:%S.%f')

In [ ]:
stock_price.TIME_M = stock_price.TIME_M.map(lambda x: x.replace(second=0))

In [ ]:
print(stock_price.loc('TIME_M').head())