## Clean Datasets and combine

In [90]:
# Import all libraries 
import pandas as pd
import numpy as np 
import datetime

In [2]:
# Preprocessing of Stock price data 
# Datasets are combined after pre processing! (else kernel crashes)
stock_price_2017 = pd.read_csv('yr2017.csv')
stock_price_2018 = pd.read_csv('yr2018.csv')

FileNotFoundError: [Errno 2] File yr2017.csv does not exist: 'yr2017.csv'

In [ ]:
# Drop unwanted columns 
stock_price_2017.drop(columns=['SYM_ROOT', 'SYM_SUFFIX'], inplace=True)
stock_price_2018.drop(columns=['SYM_ROOT', 'SYM_SUFFIX'], inplace=True)

In [ ]:
# Change to datetime objects
from datetime import datetime
stock_price_2017['TIME_M'] = pd.to_datetime(stock_price_2017['TIME_M'], format='%H:%M:%S.%f')
stock_price_2018['TIME_M'] = pd.to_datetime(stock_price_2018['TIME_M'], format='%H:%M:%S.%f')

In [ ]:
# Remove seconds, milliseconds from data
stock_price_2017['TIME_M'] = stock_price_2017['TIME_M'].dt.floor('Min').dt.time
stock_price_2018['TIME_M'] = stock_price_2018['TIME_M'].dt.floor('Min').dt.time

In [3]:
# Get minute to minute data (one entry for each minute)
stock_price_2017.drop_duplicates(subset=['TIME_M','DATE'],inplace=True)
stock_price_2018.drop_duplicates(subset=['TIME_M', 'DATE'],inplace=True)

NameError: name 'stock_price_2017' is not defined

In [18]:
# Export to csv, will be used for preprocessing later!
stock_price_2017.to_csv("yr2017_cleaned.csv", index=False, header=True)
stock_price_2018.to_csv("yr2018_cleaned.csv", index=False, header=True)
stock_price = pd.concat([stock_price_2017,stock_price_2018], ignore_index=True, sort=False)
stock_price.to_csv("stock_price.csv", index=False, header=True)

# Import Stock Prices

In [91]:
stock_price = pd.read_csv("stock_price.csv", parse_dates=[['DATE', 'TIME_M']])

## Interpolation of missing values

In [92]:
stock_price.head()

          DATE_TIME_M   PRICE
0 2017-01-20 04:00:00  226.50
1 2017-01-20 04:04:00  226.49
2 2017-01-20 04:05:00  226.52
3 2017-01-20 04:08:00  226.54
4 2017-01-20 04:10:00  226.52

In [93]:
type(stock_price.iloc[0, 1])

numpy.float64

In [94]:
idx = pd.date_range(stock_price.iloc[0, 0], stock_price.iloc[-1, 0], freq='1min')

In [95]:
idx

DatetimeIndex(['2017-01-20 04:00:00', '2017-01-20 04:01:00',
               '2017-01-20 04:02:00', '2017-01-20 04:03:00',
               '2017-01-20 04:04:00', '2017-01-20 04:05:00',
               '2017-01-20 04:06:00', '2017-01-20 04:07:00',
               '2017-01-20 04:08:00', '2017-01-20 04:09:00',
               ...
               '2018-12-31 19:51:00', '2018-12-31 19:52:00',
               '2018-12-31 19:53:00', '2018-12-31 19:54:00',
               '2018-12-31 19:55:00', '2018-12-31 19:56:00',
               '2018-12-31 19:57:00', '2018-12-31 19:58:00',
               '2018-12-31 19:59:00', '2018-12-31 20:00:00'],
              dtype='datetime64[ns]', length=1023361, freq='T')

In [96]:
stock_price.index = pd.DatetimeIndex(stock_price.loc[:, 'DATE_TIME_M'])

In [97]:
stock_price

                            DATE_TIME_M   PRICE
DATE_TIME_M
2017-01-20 04:00:00 2017-01-20 04:00:00  226.50
2017-01-20 04:04:00 2017-01-20 04:04:00  226.49
2017-01-20 04:05:00 2017-01-20 04:05:00  226.52
2017-01-20 04:08:00 2017-01-20 04:08:00  226.54
2017-01-20 04:10:00 2017-01-20 04:10:00  226.52
...                                 ...     ...
2018-12-31 19:56:00 2018-12-31 19:56:00  250.06
2018-12-31 19:57:00 2018-12-31 19:57:00  250.07
2018-12-31 19:58:00 2018-12-31 19:58:00  250.10
2018-12-31 19:59:00 2018-12-31 19:59:00  250.07
2018-12-31 20:00:00 2018-12-31 20:00:00  249.92

[381313 rows x 2 columns]

In [98]:
stock_price = stock_price.reindex(idx, fill_value='NaN')

In [99]:
stock_price['DATE_TIME_M'] = stock_price.index

In [100]:
stock_price

                            DATE_TIME_M   PRICE
2017-01-20 04:00:00 2017-01-20 04:00:00   226.5
2017-01-20 04:01:00 2017-01-20 04:01:00     NaN
2017-01-20 04:02:00 2017-01-20 04:02:00     NaN
2017-01-20 04:03:00 2017-01-20 04:03:00     NaN
2017-01-20 04:04:00 2017-01-20 04:04:00  226.49
...                                 ...     ...
2018-12-31 19:56:00 2018-12-31 19:56:00  250.06
2018-12-31 19:57:00 2018-12-31 19:57:00  250.07
2018-12-31 19:58:00 2018-12-31 19:58:00   250.1
2018-12-31 19:59:00 2018-12-31 19:59:00  250.07
2018-12-31 20:00:00 2018-12-31 20:00:00  249.92

[1023361 rows x 2 columns]

In [101]:
stock_price = stock_price.astype({'PRICE': 'float'})
stock_price['PRICE'].interpolate(method='linear', inplace=True)

In [102]:
type(stock_price.iloc[0, 1])

numpy.float64

In [103]:
print(stock_price.iloc[0,0].time())

04:00:00

In [104]:
stock_price.between_time(datetime.time(18), datetime.time(9), include_start=False, include_end=False)

                            DATE_TIME_M     PRICE
2017-01-20 04:00:00 2017-01-20 04:00:00  226.5000
2017-01-20 04:01:00 2017-01-20 04:01:00  226.4975
2017-01-20 04:02:00 2017-01-20 04:02:00  226.4950
2017-01-20 04:03:00 2017-01-20 04:03:00  226.4925
2017-01-20 04:04:00 2017-01-20 04:04:00  226.4900
...                                 ...       ...
2018-12-31 19:56:00 2018-12-31 19:56:00  250.0600
2018-12-31 19:57:00 2018-12-31 19:57:00  250.0700
2018-12-31 19:58:00 2018-12-31 19:58:00  250.1000
2018-12-31 19:59:00 2018-12-31 19:59:00  250.0700
2018-12-31 20:00:00 2018-12-31 20:00:00  249.9200

[638710 rows x 2 columns]

In [105]:
stock_price_cleaned.to_csv("stock_price_cleaned.csv", index=False, header=True)