In [1]:
import pandas as pd

In [181]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline

### 5 mins change in stock price results (df2) (can ignore)

In [285]:
#for getting the price change (price before tweet and price after the tweet) #5mins interval one
df2 = pd.read_csv("tweets_stocks_combined_final.csv")

In [286]:
df2.shape

(5312, 18)

In [270]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2646 entries, 0 to 2696
Data columns (total 19 columns):
id                       2646 non-null float64
text                     2646 non-null object
favorites                2646 non-null int64
retweets                 2646 non-null int64
date                     2646 non-null object
tweet_datetime           2646 non-null object
date_part                2646 non-null object
time_part                2646 non-null object
hour                     2646 non-null int64
year                     2646 non-null int64
month                    2646 non-null int64
topic                    2646 non-null int64
compound                 2646 non-null float64
datetime_5mins_after     2646 non-null object
price_5mins_after        2646 non-null float64
price_now                2646 non-null float64
5mins_price_diff_abs     2646 non-null float64
5mins_price_diff_perc    2646 non-null float64
y_label                  2646 non-null int64
dtypes: float64(6), int64(7), object(6)
memory usage: 413.4+ KB

In [ ]:
#abs_diff has been calculated as price_5mins after - price now

In [20]:
min(df2.loc[:,"5mins_price_diff_abs"])

-1.7299999999999611

In [21]:
max(df2.loc[:,"5mins_price_diff_abs"])

1.6399999999999864

In [74]:
#creates a list of values for the y label for each row
target_value=[]
for i in range(0,2697):
    
    if (df2.loc[i,"5mins_price_diff_abs"]>0)==True:
        target_value.append(1)
        i+=1
    elif (df2.loc[i,"5mins_price_diff_abs"]<0)==True:
        target_value.append(-1)
        i+=1
    else:
        target_value.append(0)
        i+=1

In [81]:
#create a column for the y_label 
df2.loc[:,'y_label'] = target_value

In [106]:
#to check if correctly classified
#df2[df2['y_label']==-1].sum()

In [83]:
#checking if correctly classified
counter1=0
counter2=0
for i in range(0,2697):
    if (df2.loc[i,"5mins_price_diff_abs"]>0)==True:
        counter1+=1
    elif (df2.loc[i,"5mins_price_diff_abs"]<0)==True:
        counter2+=1
    i+=1
print(counter1, counter2)

1366 1207

In [110]:
df1.shape

(2754, 12)

In [111]:
df2.shape

(2697, 19)

In [127]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2697 entries, 0 to 2696
Data columns (total 19 columns):
id                       2697 non-null float64
text                     2646 non-null object
favorites                2697 non-null int64
retweets                 2697 non-null int64
date                     2697 non-null object
tweet_datetime           2697 non-null object
date_part                2697 non-null object
time_part                2697 non-null object
hour                     2697 non-null int64
year                     2697 non-null int64
month                    2697 non-null int64
topic                    2697 non-null int64
compound                 2697 non-null float64
datetime_5mins_after     2697 non-null object
price_5mins_after        2697 non-null float64
price_now                2697 non-null float64
5mins_price_diff_abs     2697 non-null float64
5mins_price_diff_perc    2697 non-null float64
y_label                  2697 non-null int64
dtypes: float64(6), int64(7), object(6)
memory usage: 400.4+ KB

In [82]:
df2.head()

,id,text,favorites,retweets,date,tweet_datetime,date_part,time_part,hour,year,month,topic,compound,datetime_5mins_after,price_5mins_after,price_now,5mins_price_diff_abs,5mins_price_diff_perc,y_label
0,9.353400e+17,thank rand,42793,9125,2017-11-28 02:50:00,2017-11-28 10:50:00,2017-11-28,10:50:00,10,2017,11,1,0.4199,2017-11-28 10:55:00,261.085000,261.100,-0.015000,-0.000057,-1
1,8.997980e+17,join live fort myer arlington virginia,36009,4891,2017-08-22 01:00:00,2017-08-22 09:00:00,2017-08-22,09:00:00,9,2017,8,2,0.2960,2017-08-22 09:05:00,243.670000,243.670,0.000000,0.000000,0
2,8.939700e+17,thank nicole,43367,8275,2017-05-08 23:01:00,2017-05-09 07:01:00,2017-05-09,07:01:00,7,2017,5,6,0.4199,2017-05-09 07:06:00,239.920000,239.875,0.045000,0.000188,1
3,8.819770e+17,thank shawn steel nice word,50956,7465,2017-03-07 20:44:00,2017-03-08 04:44:00,2017-03-08,04:44:00,4,2017,3,3,0.6486,2017-03-08 04:49:00,236.913333,236.880,0.033333,0.000141,1
4,8.778460e+17,great night iowa special people thank,56446,8039,2017-06-22 11:11:00,2017-06-22 19:11:00,2017-06-22,19:11:00,19,2017,6,6,0.8622,2017-06-22 19:16:00,242.905000,242.880,0.025000,0.000103,1

In [ ]:
#there were 51 rows for which tweets were empty so those rows have been dropped

In [128]:
df2.dropna(inplace=True)

In [133]:
#to verify that there are no NA values
X.isna().sum()

0

In [146]:
X = df2.text
y=df2.y_label

In [136]:
count_vec = CountVectorizer(stop_words="english", max_features=1000)
#Fit Count Vectorizer
df_cv1 = count_vec.fit_transform(X)
#Convert it to a pandas data frame
df_cv2 = pd.DataFrame(df_cv1.toarray(), columns=count_vec.get_feature_names())

In [140]:
df_cv2.shape

(2646, 1000)

In [171]:
#Train-test split
#test size is 20% of the dataset
x_train,x_test,y_train,y_test = train_test_split(df2['text'], df2.y_label, test_size=0.2, random_state=1)

In [172]:
#Initialize model
#model = MultinomialNB()
#Fit model with df_cv and y
#model.fit(df_cv2, y)
#score the model
#model.score(df_cv2, y)

In [182]:
#Logistic regression classification
pipe1 = Pipeline([('vect', CountVectorizer(stop_words="english", min_df=3, ngram_range=(1,1), max_features=200)), ('tfidf', TfidfTransformer()), ('model', LogisticRegression())])
#models must be in the correct order, where previous models must have fit and transform functionality while 
#last model must only have fit
model_lr = pipe1.fit(x_train, y_train)
lr_pred = model_lr.predict(x_test)

print("Accuracy of Logistic Regression Classifier: {}%".format(round(accuracy_score(y_test, lr_pred)*100,2)))
print("\nConfusion Matrix of Logistic Regression Classifier:\n")
print(confusion_matrix(y_test, lr_pred))
print("\nCLassification Report of Logistic Regression Classifier:\n")
print(classification_report(y_test, lr_pred))

Accuracy of Logistic Regression Classifier: 48.87%

Confusion Matrix of Logistic Regression Classifier:

[[ 84   0 161]
 [  5   0  15]
 [ 90   0 175]]

CLassification Report of Logistic Regression Classifier:

              precision    recall  f1-score   support

          -1       0.47      0.34      0.40       245
           0       0.00      0.00      0.00        20
           1       0.50      0.66      0.57       265

    accuracy                           0.49       530
   macro avg       0.32      0.33      0.32       530
weighted avg       0.47      0.49      0.47       530

/Users/lavanyajindal/Desktop/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [179]:
#Naive-Bayes classification
#more no. of features doesnt seem to improve accuracy after 5000
#better results using cv + tfidftrransformer
pipe3 = Pipeline([('vect', CountVectorizer(stop_words="english",max_features=5000)), ('tfidf', TfidfTransformer()), ('model', MultinomialNB())])
#pipe3 = Pipeline([('vect', CountVectorizer(stop_words="english")),  ('model', MultinomialNB())])
model_nb = pipe3.fit(x_train, y_train)
nb_pred = model_nb.predict(x_test)

print("Accuracy of Naive Bayes Classifier: {}%".format(round(accuracy_score(y_test, nb_pred)*100,2)))
print("\nConfusion Matrix of Naive Bayes Classifier:\n")
print(confusion_matrix(y_test, nb_pred))
print("\nClassification Report of Naive Bayes Classifier:\n")
print(classification_report(y_test, nb_pred))

Accuracy of Naive Bayes Classifier: 51.32%

Confusion Matrix of Naive Bayes Classifier:

[[ 78   0 167]
 [  4   0  16]
 [ 71   0 194]]

Classification Report of Naive Bayes Classifier:

              precision    recall  f1-score   support

          -1       0.51      0.32      0.39       245
           0       0.00      0.00      0.00        20
           1       0.51      0.73      0.60       265

    accuracy                           0.51       530
   macro avg       0.34      0.35      0.33       530
weighted avg       0.49      0.51      0.48       530

/Users/lavanyajindal/Desktop/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [178]:
#Support Vector classification
#accuracy score is better without applying the TFIDFTRANSFORMER()
pipe2 = Pipeline([('vect', CountVectorizer(stop_words="english")), ('tfidf', TfidfTransformer()), ('model', LinearSVC())])
#pipe2 = Pipeline([('vect', CountVectorizer(stop_words="english")),  ('model', LinearSVC())])
model_svc = pipe2.fit(x_train, y_train)
svc_pred = model_svc.predict(x_test)

print("Accuracy of SVM Classifier: {}%".format(round(accuracy_score(y_test, svc_pred)*100,2)))
print("\nConfusion Matrix of SVM Classifier:\n")
print(confusion_matrix(y_test, svc_pred))
print("\nClassification Report of SVM Classifier:\n")
print(classification_report(y_test, svc_pred))

Accuracy of SVM Classifier: 50.19%

Confusion Matrix of SVM Classifier:

[[111   0 134]
 [ 10   0  10]
 [106   4 155]]

Classification Report of SVM Classifier:

              precision    recall  f1-score   support

          -1       0.49      0.45      0.47       245
           0       0.00      0.00      0.00        20
           1       0.52      0.58      0.55       265

    accuracy                           0.50       530
   macro avg       0.34      0.35      0.34       530
weighted avg       0.49      0.50      0.49       530

### 15 mins before after price change case (df1)

` need to run either 3 classes or 5 classes at a time cause it'll get overwritten as variable, df names used 
  are the same `

In [407]:
df1 = pd.read_csv("tweets_stocks_combined_final_15mins.csv")

In [388]:
df1.shape

(2612, 19)

In [400]:
df1.head()

,id,text,favorites,retweets,date,tweet_datetime,date_part,time_part,hour,year,month,topic,compound,datetime_15mins_after,price_15mins_after,price_now,15mins_price_diff_abs,15mins_price_diff_perc
0,9.353400e+17,thank rand,42793,9125,2017-11-28 02:50:00,2017-11-28 10:50:00,2017-11-28,10:50:00,10,2017,11,1,0.4199,2017-11-28 11:05:00,261.150000,261.100,0.050000,0.000191
1,8.997980e+17,join live fort myer arlington virginia,36009,4891,2017-08-22 01:00:00,2017-08-22 09:00:00,2017-08-22,09:00:00,9,2017,8,2,0.2960,2017-08-22 09:15:00,243.630000,243.670,-0.040000,-0.000164
2,8.939700e+17,thank nicole,43367,8275,2017-05-08 23:01:00,2017-05-09 07:01:00,2017-05-09,07:01:00,7,2017,5,6,0.4199,2017-05-09 07:16:00,239.940000,239.875,0.065000,0.000271
3,8.819770e+17,thank shawn steel nice word,50956,7465,2017-03-07 20:44:00,2017-03-08 04:44:00,2017-03-08,04:44:00,4,2017,3,3,0.6486,2017-03-08 04:59:00,236.915000,236.880,0.035000,0.000148
4,8.778460e+17,great night iowa special people thank,56446,8039,2017-06-22 11:11:00,2017-06-22 19:11:00,2017-06-22,19:11:00,19,2017,6,6,0.8622,2017-06-22 19:26:00,242.893333,242.880,0.013333,0.000055

In [ ]:
#abs_diff has been calculated as price_20mins after - price now

In [376]:
min(df1.loc[:,"15mins_price_diff_perc"])

-0.011220301969200505

In [377]:
max(df1.loc[:,"15mins_price_diff_perc"])

0.009678653404743802

In [383]:
df1.shape

(2612, 18)

In [411]:
#creates a list of values for the y label for each row
target_value2=[]
for i in range(0,2612):
    
    if (df1.loc[i,"percentage_price_change"]>0)==True:
        target_value2.append(1)
        i+=1
    elif (df1.loc[i,"percentage_price_change"]<0)==True:
        target_value2.append(-1)
    else:
        target_value2.append(0)
        i+=1

In [404]:
len(target_value2)

2612

In [413]:
df_new = df1[df1.percentage_price_change != 0]

In [412]:
#create a column for the y_label 
df1.loc[:,'y_label'] = target_value2

In [409]:
percentage_values=[]
for i in range(0,2612):
    rounded1 = df1.loc[i,"15mins_price_diff_perc"]*100
  # rounded2 = round(rounded1,3)
    percentage_values.append(rounded1)
    i+=1

In [410]:
#create a column for the rounded_values
df1.loc[:,'percentage_price_change'] = percentage_values

In [373]:
#-0.0==0

In [299]:
#round(2.169999999999959,2)

In [294]:
#rounded_values

In [414]:
df_new.head()

,id,text,favorites,retweets,date,tweet_datetime,date_part,time_part,hour,year,month,topic,compound,datetime_15mins_after,price_15mins_after,price_now,15mins_price_diff_abs,15mins_price_diff_perc,percentage_price_change,y_label
0,9.353400e+17,thank rand,42793,9125,2017-11-28 02:50:00,2017-11-28 10:50:00,2017-11-28,10:50:00,10,2017,11,1,0.4199,2017-11-28 11:05:00,261.150000,261.100,0.050000,0.000191,0.019150,1
1,8.997980e+17,join live fort myer arlington virginia,36009,4891,2017-08-22 01:00:00,2017-08-22 09:00:00,2017-08-22,09:00:00,9,2017,8,2,0.2960,2017-08-22 09:15:00,243.630000,243.670,-0.040000,-0.000164,-0.016416,-1
2,8.939700e+17,thank nicole,43367,8275,2017-05-08 23:01:00,2017-05-09 07:01:00,2017-05-09,07:01:00,7,2017,5,6,0.4199,2017-05-09 07:16:00,239.940000,239.875,0.065000,0.000271,0.027097,1
3,8.819770e+17,thank shawn steel nice word,50956,7465,2017-03-07 20:44:00,2017-03-08 04:44:00,2017-03-08,04:44:00,4,2017,3,3,0.6486,2017-03-08 04:59:00,236.915000,236.880,0.035000,0.000148,0.014775,1
4,8.778460e+17,great night iowa special people thank,56446,8039,2017-06-22 11:11:00,2017-06-22 19:11:00,2017-06-22,19:11:00,19,2017,6,6,0.8622,2017-06-22 19:26:00,242.893333,242.880,0.013333,0.000055,0.005490,1

In [323]:
#df1.info()

In [ ]:
#51 tweets dont exist again

In [415]:
df_new.dropna(inplace=True)

/Users/lavanyajindal/Desktop/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [417]:
df_new.shape

(2502, 20)

In [419]:
X_ = df_new.text
y_ =df_new.y_label

In [420]:
#Train-test split
#test size is 20% of the dataset
x_train1,x_test1,y_train1,y_test1 = train_test_split(df_new['text'], df_new.y_label, test_size=0.2, random_state=1)

In [424]:
#Logistic regression classification
pipe1_ = Pipeline([('vect', CountVectorizer(stop_words="english", min_df=3, ngram_range=(1,1), max_features=200)), ('tfidf', TfidfTransformer()), ('model1', LogisticRegression())])
#models must be in the correct order, where previous models must have fit and transform functionality while 
#last model must only have fit
model_lr1 = pipe1_.fit(x_train1, y_train1)
lr_pred1 = model_lr1.predict(x_test1)

print("Accuracy of Logistic Regression Classifier: {}%".format(round(accuracy_score(y_test1, lr_pred1)*100,2)))
print("\nConfusion Matrix of Logistic Regression Classifier:\n")
print(confusion_matrix(y_test1, lr_pred1))
print("\nCLassification Report of Logistic Regression Classifier:\n")
print(classification_report(y_test1, lr_pred1))

Accuracy of Logistic Regression Classifier: 52.89%

Confusion Matrix of Logistic Regression Classifier:

[[ 77 170]
 [ 66 188]]

CLassification Report of Logistic Regression Classifier:

              precision    recall  f1-score   support

          -1       0.54      0.31      0.39       247
           1       0.53      0.74      0.61       254

    accuracy                           0.53       501
   macro avg       0.53      0.53      0.50       501
weighted avg       0.53      0.53      0.51       501

In [425]:
#Naive-Bayes classification
#more no. of features doesnt seem to improve accuracy after 5000
#better results using cv + tfidftrransformer
pipe3_ = Pipeline([('vect', CountVectorizer(stop_words="english",max_features=5000)), ('tfidf', TfidfTransformer()), ('model2', MultinomialNB())])
#pipe3 = Pipeline([('vect', CountVectorizer(stop_words="english")),  ('model', MultinomialNB())])
model_nb1 = pipe3_.fit(x_train1, y_train1)
nb_pred1 = model_nb1.predict(x_test1)

print("Accuracy of Naive Bayes Classifier: {}%".format(round(accuracy_score(y_test1, nb_pred1)*100,2)))
print("\nConfusion Matrix of Naive Bayes Classifier:\n")
print(confusion_matrix(y_test1, nb_pred1))
print("\nClassification Report of Naive Bayes Classifier:\n")
print(classification_report(y_test1, nb_pred1))

Accuracy of Naive Bayes Classifier: 51.7%

Confusion Matrix of Naive Bayes Classifier:

[[ 48 199]
 [ 43 211]]

Classification Report of Naive Bayes Classifier:

              precision    recall  f1-score   support

          -1       0.53      0.19      0.28       247
           1       0.51      0.83      0.64       254

    accuracy                           0.52       501
   macro avg       0.52      0.51      0.46       501
weighted avg       0.52      0.52      0.46       501

In [426]:
#Support Vector classification
#accuracy score is better without applying the TFIDFTRANSFORMER()
pipe2_ = Pipeline([('vect', CountVectorizer(stop_words="english")), ('tfidf', TfidfTransformer()), ('model3', LinearSVC())])
#pipe2 = Pipeline([('vect', CountVectorizer(stop_words="english")),  ('model', LinearSVC())])
model_svc1 = pipe2_.fit(x_train1, y_train1)
svc_pred1 = model_svc1.predict(x_test1)

print("Accuracy of SVM Classifier: {}%".format(round(accuracy_score(y_test1, svc_pred1)*100,2)))
print("\nConfusion Matrix of SVM Classifier:\n")
print(confusion_matrix(y_test1, svc_pred1))
print("\nClassification Report of SVM Classifier:\n")
print(classification_report(y_test1, svc_pred1))

Accuracy of SVM Classifier: 50.3%

Confusion Matrix of SVM Classifier:

[[ 98 149]
 [100 154]]

Classification Report of SVM Classifier:

              precision    recall  f1-score   support

          -1       0.49      0.40      0.44       247
           1       0.51      0.61      0.55       254

    accuracy                           0.50       501
   macro avg       0.50      0.50      0.50       501
weighted avg       0.50      0.50      0.50       501

#############################################################

### 20 mins one - can ignore

In [ ]:
df1 = pd.read_csv("tweets_stocks_combined_final_20mins.csv")

In [253]:
#categorized into 5 classes (-2,-1,0,1,2) since range was bigger this time
target_value3=[]
for i in range(0,2577):
    
    if ((df1.loc[i,"20mins_price_diff_abs"]>0) and (df1.loc[i,"20mins_price_diff_abs"]<1.5))==True:
        target_value3.append(1)
        i+=1
    elif (df1.loc[i,"20mins_price_diff_abs"]>=1.5)==True:
        target_value3.append(2)
        i+=1
    elif (df1.loc[i,"20mins_price_diff_abs"]<-1.5)==True:
        target_value3.append(-2)
        i+=1
    elif ((df1.loc[i,"20mins_price_diff_abs"]<0) and (df1.loc[i,"20mins_price_diff_abs"]>=-1.5))==True:
        target_value3.append(-1)
    
    else:
        target_value3.append(0)
        i+=1

In [254]:
df1.loc[:,'y_label'] = target_value3

In [255]:
df1.dropna(inplace=True)

In [256]:
X_ = df1.text
y_ =df1.y_label

In [257]:
#Train-test split
#test size is 20% of the dataset
x_train1,x_test1,y_train1,y_test1 = train_test_split(df1['text'], df1.y_label, test_size=0.2, random_state=1)

In [258]:
#Logistic regression classification
pipe1_ = Pipeline([('vect', CountVectorizer(stop_words="english", min_df=3, ngram_range=(1,1), max_features=200)), ('tfidf', TfidfTransformer()), ('model', LogisticRegression())])
#models must be in the correct order, where previous models must have fit and transform functionality while 
#last model must only have fit
model_lr1 = pipe1_.fit(x_train1, y_train1)
lr_pred1 = model_lr1.predict(x_test1)

print("Accuracy of Logistic Regression Classifier: {}%".format(round(accuracy_score(y_test1, lr_pred1)*100,2)))
print("\nConfusion Matrix of Logistic Regression Classifier:\n")
print(confusion_matrix(y_test1, lr_pred1))
print("\nCLassification Report of Logistic Regression Classifier:\n")
print(classification_report(y_test1, lr_pred1))

Accuracy of Logistic Regression Classifier: 47.83%

Confusion Matrix of Logistic Regression Classifier:

[[  0   1   0   0   0]
 [  0  65   0 154   0]
 [  0   0   0  11   0]
 [  0  97   0 177   0]
 [  0   0   0   1   0]]

CLassification Report of Logistic Regression Classifier:

              precision    recall  f1-score   support

          -2       0.00      0.00      0.00         1
          -1       0.40      0.30      0.34       219
           0       0.00      0.00      0.00        11
           1       0.52      0.65      0.57       274
           2       0.00      0.00      0.00         1

    accuracy                           0.48       506
   macro avg       0.18      0.19      0.18       506
weighted avg       0.45      0.48      0.46       506

/Users/lavanyajindal/Desktop/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [259]:
#Naive-Bayes classification
#more no. of features doesnt seem to improve accuracy after 5000
#better results using cv + tfidftrransformer
pipe3_ = Pipeline([('vect', CountVectorizer(stop_words="english",max_features=5000)), ('tfidf', TfidfTransformer()), ('model', MultinomialNB())])
#pipe3 = Pipeline([('vect', CountVectorizer(stop_words="english")),  ('model', MultinomialNB())])
model_nb1 = pipe3_.fit(x_train1, y_train1)
nb_pred1 = model_nb1.predict(x_test1)

print("Accuracy of Naive Bayes Classifier: {}%".format(round(accuracy_score(y_test1, nb_pred1)*100,2)))
print("\nConfusion Matrix of Naive Bayes Classifier:\n")
print(confusion_matrix(y_test1, nb_pred1))
print("\nClassification Report of Naive Bayes Classifier:\n")
print(classification_report(y_test1, nb_pred1))

Accuracy of Naive Bayes Classifier: 55.53%

Confusion Matrix of Naive Bayes Classifier:

[[  0   0   0   1   0]
 [  0  49   0 170   0]
 [  0   0   0  11   0]
 [  0  42   0 232   0]
 [  0   0   0   1   0]]

Classification Report of Naive Bayes Classifier:

              precision    recall  f1-score   support

          -2       0.00      0.00      0.00         1
          -1       0.54      0.22      0.32       219
           0       0.00      0.00      0.00        11
           1       0.56      0.85      0.67       274
           2       0.00      0.00      0.00         1

    accuracy                           0.56       506
   macro avg       0.22      0.21      0.20       506
weighted avg       0.54      0.56      0.50       506

/Users/lavanyajindal/Desktop/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [260]:
#Support Vector classification
#accuracy score is better without applying the TFIDFTRANSFORMER()
pipe2_ = Pipeline([('vect', CountVectorizer(stop_words="english")), ('tfidf', TfidfTransformer()), ('model', LinearSVC())])
#pipe2 = Pipeline([('vect', CountVectorizer(stop_words="english")),  ('model', LinearSVC())])
model_svc1 = pipe2_.fit(x_train1, y_train1)
svc_pred1 = model_svc1.predict(x_test1)

print("Accuracy of SVM Classifier: {}%".format(round(accuracy_score(y_test1, svc_pred1)*100,2)))
print("\nConfusion Matrix of SVM Classifier:\n")
print(confusion_matrix(y_test1, svc_pred1))
print("\nClassification Report of SVM Classifier:\n")
print(classification_report(y_test1, svc_pred1))

Accuracy of SVM Classifier: 54.35%

Confusion Matrix of SVM Classifier:

[[  0   0   0   1   0]
 [  0  99   0 120   0]
 [  0   2   0   9   0]
 [  0  98   0 176   0]
 [  0   0   0   1   0]]

Classification Report of SVM Classifier:

              precision    recall  f1-score   support

          -2       0.00      0.00      0.00         1
          -1       0.50      0.45      0.47       219
           0       0.00      0.00      0.00        11
           1       0.57      0.64      0.61       274
           2       0.00      0.00      0.00         1

    accuracy                           0.54       506
   macro avg       0.21      0.22      0.22       506
weighted avg       0.53      0.54      0.53       506

/Users/lavanyajindal/Desktop/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [266]:
model.feature_log_prob_

array([[-8.11230292, -7.70683781, -8.11230292, ..., -7.01369063,
        -7.88915937, -7.10070201],
       [-7.73236922, -7.03922204, -6.34607486, ..., -7.73236922,
        -7.73236922, -6.63375693],
       [-8.02059915, -7.83827759, -7.55059552, ..., -6.99097973,
        -7.43281248, -8.02059915]])

In [269]:
df1['20mins_price_diff_abs'].describe()

count    2526.000000
mean        0.008803
std         0.244648
min        -3.670000
25%        -0.030000
50%         0.001246
75%         0.050000
max         2.170000
Name: 20mins_price_diff_abs, dtype: float64